<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="YouTubeThumbnailField.TemplateId" value="{5AC7DEB1-15A5-46E1-B2E7-FC9C8DADEBFD}" />
      <setting name="YouTubeThumbnailField.HTMLTemplatePath" value="sitecore\\shell\\Controls\\youtube thumbnail field\\template.html" />
      <setting name="YouTubeThumbnailField.YouTubeUrlPattern" value='(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&amp;]v=)|youtu\.be\/)([^""&amp;?\/ ]{11})'/>
      <setting name="YouTubeThumbnailField.MediaFolderId" value='{70DB0B88-8C39-4AD9-87BB-2F4818479439}'/>
    </settings>
  </sitecore>
</configuration>
